node_modules
**/node_modules
dist
**/dist
.data
**/.data
.git
.github
.gitignore
.gitattributes
.workflow
.vscode
.idea
*.log
npm-debug.log*
coverage
**/coverage
.vite
**/.vite
.env
.env.*
!.env.example
!**/.env.example
docker-compose.yml
Dockerfile
Caddyfile
docs
README.md
